middlemanApp {
  RUBY_VERSION = "ruby-x.x.x"
  RUBY_GEMSET = "app-name"
  DEPLOY =  ['master': 'scp -P <port> -rp build/ <username>@<hostname>:<deploy directory>', 'stage': '', 'dev': '', ... ]
  SSH_AGENT_ID = 'ssh-login-key'
  NODE_INSTALL_NAME = 'lts/boron'
  SLACK_CHANNEL = '#deploys'
  DEBUG = 'false'
}
